html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Login-form h1 {
  margin: 0; 
  padding: 0; 
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}



